/*=========================================================================================
    File Name: _button.scss
    Description: Styles for button.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
@import '../_variables.scss';

.routine-row {
    margin-bottom: 18px;
    height: 90px;
    border: solid 1px #AAAAAA;
    .con-vs-avatar {
        margin: 0px 15px 0px 0px;
    }
}
